/* Header */
.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px auto;
    border: 1px solid black;
    max-width: 300px;
    border-radius: 5px;
}
.searchbar>input{
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 14px;
}
.search-icon{
    background-color: black;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 2px 5px;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(80, 141, 78);
    height: 60px;
}
.logo{
    margin-left: 60px;
}
.logo a h1{
    color:white;
    font-size: 40px;
}
.menu{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
  margin-right: 60px;
}
.menu a{
    color: white;
    font-size: 16px;
    padding: 17px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu a:hover{
    background-color: rgb(87, 146, 92);
}
.login-cart {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}
.login-cart a{
    color: white;
}
.login-cart a i{
    font-size: 20px;
    margin-right: 5px;
}
.login-cart span{
    color: white;
    font-size: 18px;
    position: absolute;
    right: 42px;
    top: 50px;
}
.logo .togle{
    display: none;
}

@media (max-width:1000px)
{
    .logo {
        margin-left:25px
    }
    .logo a h1{
        font-size: 30px;
    }
    .menu{
        gap: 1px;
    }
    .menu a{
        font-size: 14px;
        padding: 18px;
    }
    .login-cart{
        margin-right: 25px;
    }
    .login-cart span{
        margin-right: -25px;
    }
}

@media (max-width:768px)
{
    .logo .togle{
        display: block;
        position: absolute;
        right: 20px;
        top: 60px;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    .menu{
        display: none;
        position: absolute;
        left: 0;
        top: 97px;
        width: 200px;
        height: 100vh;
        background-color: rgb(80, 141, 78);
    }
    .menu a{
        display: block;
        font-size: 16px;
        margin-top: 0px;
    }
    .active{
        display: block;
    }
    .login-cart{
        margin-right: 70px;
        gap: 20px;
    }
    .login-cart span{
        margin-right: 20px;
    }
    .logo a h1{
        font-size: 27px;
    }
    .login-cart a{
        font-size: 16px;
    }

}
@media (max-width:400px)
{
    .logo a h1{
        font-size: 20px;
        margin-left: -23px;
    }
    .logo .togle{
        font-size: 20px;
        right: 10px;
    }
    .login-cart a i{
        font-size: 15px;
        margin-right: 5px;
    }
}

