.about{
    height: auto
    /* border: 1px solid red; */
}

.about h1{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.about-us1{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    height: auto;
}
.about-text1,.about-text2{
    width: 58%;
}
.about-text1>p,.about-text2>p{
font-size: 17px;
line-height: 21px;
text-align: justify;
}
.about-img1{
    margin-top: -80px;
    width: 38%;
}
.about-img1 img,.about-img2 img{
    width: 100%;
    height: auto;
}
.about-us2{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    height: auto;
    margin-top: -70px;
}
.about-img2{
    width: 38%;
    margin-top: -40px;
}
.about-text1 button,.about-text2 button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin: 10px 0 20px 0;
    cursor: pointer;
}

@media (max-width:1150px)
{
    .about-img1{
        margin-top: -50px;
    }
    .about-img2{
        margin-top: 5px;
    }
}
@media (max-width:1000px)
{
    .about-us1,.about-us2{
        padding: 2%;
    }
    .about-us2{
        margin-top: -30px;
    }
    .about-text1,.about-text2{
        width: 61%;
    }
    .about-img1,.about-img2{
        width: 36%;
    }
}
@media (max-width:900px)
{
    .about-us1,.about-us2{
        padding: 1%;
    }
    .about-text1,.about-text2{
        width: 64%;
    }
    .about-img1,.about-img2{
        width: 34%;
    }
    .about-text1 p,.about-text2 p{
        font-size: 16px;
    }
    .about-img1{
        margin-top: 10px;
    }
    .about-img2{
        margin-top: 30px;
    }
}

@media (max-width:768px)
{
    .about h1{
        font-size: 35px;
    }
    .about-us1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-img1,.about-img2{
        width: 100%;
    }
    .about-img1 img,.about-img2 img{
        width: 100%;
    }
    .about-text1,.about-text2{
        width: 100%;
        height: auto;
    }
    .about-text1 p,.about-text2 p{
        font-size: 15px;
    }
    .about-us2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: -50px;
    }
}